# Terraform local state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# .terraform directory (Terraform modules and plugins)
.terraform/

# Override files (optional)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl
tfplan

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local
testing