name: Build, Push, and Deploy Cloud Run

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/deploy_cloud_run.yaml"
      - "images/**"
  workflow_dispatch:

jobs:
  detect-changed:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Build matrix
        id: build-matrix
        run: |
          chmod +x .github/workflows/scripts/changed_images.sh
          .github/workflows/scripts/changed_images.sh "${{ github.event_name }}" "${{ github.event.before }}" "${{ github.sha }}"

  build-and-deploy:
    needs: detect-changed
    if: ${{ needs.detect-changed.outputs.matrix != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.detect-changed.outputs.matrix || '[]') }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA }}

      - name: Build & push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.folder }}
          push: true
          tags: europe-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/docker/${{ matrix.name }}:latest

      - name: Deploy to Cloud Run
        run: |
          IMAGE_URL="europe-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/docker/${{ matrix.name }}:latest"
          REGION="europe-north2"

          if [ "${{ matrix.type }}" == "services" ]; then
            gcloud run services update ${{ matrix.name }} --image=$IMAGE_URL --region=$REGION || echo "Service not found, deploy infra first"
          else
            gcloud run jobs update ${{ matrix.name }} --image=$IMAGE_URL --region=$REGION || echo "Job not found, deploy infra first"
          fi
