name: Build, Push, and Deploy Cloud Run

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/deploy_cloud_run.yaml"
      - "images/**"
  workflow_dispatch:

jobs:
  detect-changed:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            images/**

      - name: Build matrix
        id: set-matrix
        run: |
          MATRIX_OUTPUT=$(bash .github/workflows/scripts/changed_images.sh \
            "${{ github.event_name }}" \
            "${{ steps.changed-files.outputs.all_changed_files || '' }}")
          echo "Matrix output:"
          echo "$MATRIX_OUTPUT"

          echo "$MATRIX_OUTPUT" >> $GITHUB_OUTPUT

  build-and-deploy:
    needs: detect-changed
    if: ${{ fromJSON(needs.detect-changed.outputs.matrix).images[0] != null }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image: ${{ fromJSON(needs.detect-changed.outputs.matrix).images }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA }}

      - name: Configure Docker client
        run: gcloud auth configure-docker europe-docker.pkg.dev

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.image.folder }}
          push: true
          tags: europe-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/docker/${{ matrix.image.name }}:latest

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          IMAGE_URL="europe-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/docker/${{ matrix.image.name }}:latest"
          REGION="europe-north2"

          echo "Deploying ${{ matrix.image.type }}: ${{ matrix.image.name }} with image $IMAGE_URL..."

          if [ "${{ matrix.image.type }}" == "services" ]; then
            if gcloud run services describe ${{ matrix.image.name }} --region=$REGION &> /dev/null; then
              gcloud run services update ${{ matrix.image.name }} \
                --image=$IMAGE_URL \
                --region=$REGION
            else
              echo "INFO: Service not found. Please deploy service with infra first."
            fi

          elif [ "${{ matrix.image.type }}" == "jobs" ]; then
            if gcloud run jobs describe ${{ matrix.image.name }} --region=$REGION &> /dev/null; then
              gcloud run jobs update ${{ matrix.image.name }} \
                --image=$IMAGE_URL \
                --region=$REGION
            else
              echo "INFO: Job not found. Please deploy job with infra first."
            fi
          fi
