name: Validate Terraform on PR

on:
  pull_request:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/workflows/deploy_infra.yaml"

  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      - name: Terraform Plan (no apply)
        run: |
          ENV_VARS="{\"TARGET_PROJECT_ID\":\"${{ secrets.ADP_PROJECT_ID }}\",\"OUTPUT_TOPIC\":\"${{ secrets.ADP_ENRICHMENT_TOPIC }}\",\"PLATFORM_API_KEY\":\"${{ secrets.PLATFORM_API_KEY }}\",\"PLATFORM_ENDPOINT\":\"${{ secrets.PLATFORM_ENDPOINT }}\",\"MONGO_URI\":\"${{ secrets.MONGO_URI_DRAFTS }}\",\"MONGO_DB\":\"${{ secrets.MONGO_DB_DRAFTS }}\",\"MONGO_COLLECTION\":\"${{ secrets.MONGO_COLLECTION_DRAFTS }}\",\"OPENAI_API_KEY\":\"${{ secrets.OPENAI_API_KEY }}\"}"

          terraform plan -var="env_vars=${ENV_VARS}"
        working-directory: terraform
